/datasets
/output
/cache
/experiments
/final_experiments
/final_experiments_clean


/third_party/FisherRF-tyk/cache/hub
/third_party/FisherRF-tyk/cache/assets
/third_party/FisherRF-tyk/cache/wandb


*.wandb
*.log
*.pyc
*.html
*.js
*.css
*.pkl
*.pt
*.pth
*.png
*.jpg
*.jpeg
*.npy
*.gif
*.json
*.ply
*.ckpt
*.zip

**/cfg_args
**/events.out.tfevents.*


